Armando Bringas Corpus (A01200230)
TC4029 Ciencia y anal√≠tica de datos (Gpo 10)

# Loops

## Range

In [12]:
# Range example

range(10)

range(0, 10)

## for loop

In [6]:
# For loop through a list

car_makers = ['Ford', 'Nissan', 'Chevrolet', 'VW', 'Renault']
n = len(car_makers)

for i in range(n):
    print(car_makers[i])

Ford
Nissan
Chevrolet
VW
Renault

In [8]:
# For loop through a range

for i in range(0, 10):
    print(i)

0
1
2
3
4
5
6
7
8
9

In [10]:
# Loop through the elements of the list and iterate by index and element

for i, car_maker in enumerate(car_makers):
    print(i, car_maker)

0 Ford
1 Nissan
2 Chevrolet
3 VW
4 Renault

## while loop

In [13]:
# While loop example

i = 0
while (i != 10):
    print(i)
    i += 1

0
1
2
3
4
5
6
7
8
9